<nav class="navbar navbar-inner navbar-fixed-top">
    <div class="container">
        <div class="navbar-header" style="">
            <span class="navbar-collapse" [attr.data-collapse]="isCollapsed">
                <ul class="nav navbar-nav nav-pills navBarPadding">
                    <li routerLinkActive="active"><a routerLink="/login">Personal</a></li>
                    <li routerLinkActive="active"><a routerLink="/business">Business</a></li>
                    <li routerLinkActive="active"><a routerLink="/corporate">Corporate</a></li>
                </ul>
            </span>
        </div>
    </div>
</nav>